<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Product: <b>{{product.name}}</b></h4>
				<p class="category">{{product.description}}</p>
			</div>
			<div class="content">
				<form [formGroup]="Form" name="product-create">
					<div class="form-group">
						<mat-form-field class="full-width-field">
							<input matInput
							       placeholder="Product name?"
							       formControlName="name"
							       [value]="product.name"
							       (input)="productname = $event.target.value">
						</mat-form-field>
					</div>
					<div class="form-group">
						<mat-form-field class="full-width-field">
							<input matInput
							       placeholder="Give it a description?"
							       formControlName="description"
							       [value]="product.description"
							       (input)="description = $event.target.value">
						</mat-form-field>
					</div>
					<div class="form-group">
						<mat-form-field class="full-width-field">
							<input matInput
							       placeholder="What is the url?"
							       formControlName="url"
							       [value]="product.url"
							       (input)="websiteurl = $event.target.value">
						</mat-form-field>
					</div>
					<div class="form-group">
						<mat-form-field class="full-width-field">
							<input matInput
							       placeholder="What is the price?"
							       formControlName="price"
							       [value]="product.price"
							       (input)="productprice = $event.target.value">
						</mat-form-field>
					</div>
					<div class="form-group">
						<mat-form-field class="full-width-field">
							<input matInput
							       placeholder="is it available?"
							       formControlName="availability"
							       [value]="product.availability"
							       (input)="productavailable = $event.target.value">
						</mat-form-field>
					</div>
					<div class="form-group">
						<mat-form-field class="full-width-field">
							<input matInput
							       placeholder="add to cart?"
							       formControlName="add_to_cart_url"
							       [value]="product.add_to_cart_url"
							       (input)="addtocart = $event.target.value">
						</mat-form-field>
					</div>
					<app-submit-button  [Text]="'Update product'"
					                    (click)="Finish()"
					                    class="w-25"></app-submit-button>
				</form>
			</div>
		</div>
	</div>
</div>
