/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/Journal/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #FFF;
  border-top: none;
}
