<div class="header position-relative vh-100">
	<header class="container-fluid position-absolute header-clouds z-index-8"></header>
	<div class="container-fluid position-absolute homepage-header z-index-9">
		<div class="header-info d-flex flex-column justify-content-center align-items-center" *ngIf="!registerMode; else registerForm">
			<h1 class="header-big">AISART</h1>
			<div class="header-content">
				<h1 class="logo">
					<span class="word1">ASP.NET</span>
					<span class="word2">ANGULAR</span>
				</h1>
			</div>
			<div class="btn-group" role="group">
				<button *ngIf="!loggedIn()" class="submit-button submit-reg mt-5" (click)="registerToggle()">Register</button>
				<button *ngIf="!loggedIn()" class="submit-button submit-log mt-5" [routerLink]="['/login']">Login</button>
			</div>
		</div>

		<ng-template #registerForm>
			<div class="register container d-flex justify-content-center align-items-center">
				<div class="register-container col-6">
					<app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
				</div>
			</div>
		</ng-template>

	</div>
</div>

