<form [formGroup]="registerForm">
	<div class="form-group">


		<mat-form-field>
			<input matInput
			       [matDatepicker]="picker"
			       placeholder="Choose a date"
			       formControlName="dateOfBirth">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

<!--		<div class="invalid-feedback"-->
<!--		     *ngIf="registerForm.get('dateOfBirth').touched-->
<!--		     &&-->
<!--		     registerForm.get('dateOfBirth').hasError('required')">-->
<!--			Date of Birth is required-->
<!--		</div>-->
	</div>
</form>
