/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/bootswatch/dist/Cosmo/bootstrap.min.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css';
// FUNCTIONS
@import 'functions';
// MIXINS
@import 'mixins';
// VARIABLES
@import 'variables';
// GENERAL
@import 'overlay-spinner';
// COMPONENTS
@import 'components/home-page';
@import 'components/navbar';
@import 'components/side-bar';
@import 'components/admin/admin-panel';
@import 'components/body-background';
@import 'components/form-inputs';
@import 'components/profile-page';
@import 'components/photo-editor';
@import 'components/products-overview';
@import 'components/radiobuttons';
@import 'components/register';
@import 'components/login';
@import 'components/button';
@import 'components/custom-material';

html,
body {
    height: 100%;
}

.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #FFF;
    border-top: none;
}

.photos {
    img.img-thumbnail {
        height: 100px;
        min-width: 100px !important;
        margin-bottom: 2px;
    }
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

table {
    margin-top: 15px;
}

.img-circle {
    max-height: 50px;
}

td {
    vertical-align: middle !important;
}

.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted red;
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.z-index-10 {
    z-index: 10;
}

.z-index-9 {
    z-index: 9;
}

.z-index-8 {
    z-index: 8;
}
