<div class="product mb-4">
	<div class="product-label">
		<i class="fas fa-smile"></i> new
	</div>
	<div class="row">
		<div class="product-image-container col-6">
					<img class="product-image" src="{{product.url || '../../../assets/user.png'}}" alt="{{product.knownAs}}">
			<ul class="list-inline member-icons animate text-center">
				<li class="list-inline-item">
					<button class="btn btn-primary btn-sm" [routerLink]="['/products/', product.id]">
						<i class="fa fa-info"></i>
					</button>
				</li>
				<li class="list-inline-item">
					<button class="btn btn-primary btn-sm"><i class="fa fa-heart"></i></button>
				</li>
				<li class="list-inline-item">
					<button [routerLink]="['/products/', product.id]"
					        class="btn btn-primary btn-sm">
						<i class="fa fa-envelope"></i>
					</button>
				</li>
			</ul>
		</div>
		<div class="product-content-container col-6">
			<h2 class="product-title mb-1" [routerLink]="['/products/', product.id]">
				<b>{{product.name}}</b>
			</h2>
			<div class="product-price mb-1">
				€ {{product.price}} <span class="strike">€ 1.19</span>
			</div>
			<p class="product-description text-muted">
				{{product.description}}
			</p>
			<app-submit-button [Text]="'Add to cart'">
			</app-submit-button>
		</div>
	</div>
</div>
