<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Photo manager</h4>
			</div>
			<div class="content">
				<div *ngFor="let photo of photos" class="col-sm-2">
					<div *ngIf="photos.length else noPhotos">
						<img src="{{photo.url}}" alt="{{photo.username}}" class="img-thumbnail p-1">

						<div class="text-center">
							<app-submit-button (click)="ApprovePhoto(photo.id)" [Text]="'Approve'"></app-submit-button>
							<app-submit-button (click)="RejectPhoto(photo.id)" [Text]="'Reject'"></app-submit-button>
						</div>
					</div>
					<ng-template #noPhotos>
						<i class="fa fa-check"></i>
						there are no photo's to check
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>

