.not-approved {
    opacity: .2;
}
.img-wrapper {
    position: relative;
}
.img-text {
    position: absolute;
    bottom: 30%;
}
.img-thumbnail {
    margin: 0 !important;
    width: 100% !important;
    height: 65% !important;
}
