.product {
    .product-label {
        text-align: center;
    }
    .product-image-container{
        .product-image {
            width: 100%;
            -webkit-background-size: cover;
            background-size: cover;
        }
    }
    .product-content-container {
        h2.product-title {

        }
        .product-price {
            span.strike {
                text-decoration: line-through;
            }
        }
        .product-description {

        }
    }
}
