@import "../variables";

.profile {
    .profile-top {
        height: 15rem;
        clear: both;
        .banner-profile {
            background-color: $main-red;
            height: 10rem;
            position: relative;
            .profile-rounded {
                display: inline-block;
                position: absolute;
                bottom: -5rem;
                margin: 0 auto;
                width: 100%;
                img {
                    border: 3px solid #fff;
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }
}
