*{font-family: 'Roboto', sans-serif;}
@keyframes click-wave {
    0% {
        height: 50px;
        width: 50px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -25px;
        margin-top: -25px;
        opacity: 0;
    }
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 6px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.15s ease-out 0s;
    background: #fd484f;
    border: none;
    color: #000343;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #fd484f;
    color: #FFF;
}
.option-input:checked {
    background: #fd484f;
}
.option-input:checked::before {
    height: 50px;
    width: 50px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #fd484f;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}
label.radio-label {
    font-size: 2.5rem;
}
