.register {
    padding: 1rem;
    height: calc(100vh - 0px);
    .register-container {
        background-color: rgba(255,255,255,.8);
        padding: 1.5rem;
        .step {
            .gender-container {
                i {
                    font-size: 2rem;
                }
            }
        }
    }
    h2 {
        color: #353535 !important;
        font-weight: 700;
    }
    hr {
        background-color: rgba(#fd484f, .6);
    }
    .step-counter {
        font-size: 20px;
        .active-step {
            color: #000343;
            font-weight: 900;
            display: inline;
            position: relative;
            .other-steps {
                color: gray;
                font-weight: 100;
                display: inline;
                font-size: 15px;
            }
        }
    }
}
