<nav class="navbar z-index-10 navbar-expand-md" *ngIf="loggedIn()">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">AngularMaster</a>

        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']">Matches</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/lists']">Lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/products']">Products</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/messages']">Messages</a>
            </li>
	        <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
		        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
	        </li>
        </ul>

        <div *ngIf="loggedIn()" class="dropdown" dropdown>
          <span class="mr-2">
            <img class="rounded" src="{{ photoUrl || '../../assets/user.png' }}" alt="">
          </span>
            <a class="dropdown-toggle text-primary" dropdownToggle>
                Hi {{ authService.decodedToken?.unique_name | titlecase }}
            </a>

            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" [routerLink]="['/member/edit']">
                  <i class="fa fa-user"></i> Edit Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </div>
        </div>
    </div>
  </nav>
