<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
				</owl-carousel-o>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<section id="product-category">
	<div class="container">
		<h1>Categories</h1>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a href="">
					<div class="image-category">
						<h4>title 1</h4>
						<div class="category-description">
							description description
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="">
					<div class="image-category">
					<h4>title 1</h4>
					<div class="category-description">
						description description
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="">
					<div class="image-category">
					<h4>title 1</h4>
					<div class="category-description">
						description description
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="">
					<div class="image-category">
					<h4>title 1</h4>
					<div class="category-description">
						description description
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="section-red">
	<div class="container">
		<h1>Deals</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="banner banner-1">
					<img src="../../../../assets/images/example_product.png" alt="">
					<div class="banner-caption text-center">
						<h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row deals-right">
					<div class="col-md-12 col-sm-12">
						<a class="banner banner-1" href="#">
							<img src="../../../../assets/images/example_product.png" alt="">
							<div class="banner-caption text-center">
								<h2 class="white-color">NEW COLLECTION</h2>
							</div>
						</a>
					</div>
					<div class="col-md-12 col-sm-12">
						<a class="banner banner-1" href="#">
							<img src="../../../../assets/images/example_product.png" alt="">
							<div class="banner-caption text-center">
								<h2 class="white-color">NEW COLLECTION</h2>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
