<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
				</owl-carousel-o>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<div class="container">
	hier komt de home pagina
</div>
