
	<div id="top-header">
	    <div class="container">
		    <div class="row">
			    <div class="col-sm-3 d-flex justify-content-start align-items-start">
				    <a class="navbar-brand" [routerLink]="['/home']">AngularMaster</a>
			    </div>
			    <div class="col-sm-9 d-flex justify-content-end align-items-center">
				    <div class="header-top-links">
					    <ul>
						    <li>
							    <a class="nav-link" [routerLink]="['/members']">Matches</a>
						    </li>
						    <li>
							    <a class="nav-link" [routerLink]="['/lists']">Lists</a>
						    </li>
						    <li>
							    <a class="nav-link" [routerLink]="['/products']">Products</a>
						    </li>
						    <li>
							    <a class="nav-link" [routerLink]="['/messages']">Messages</a>
						    </li>
						    <li>
							    <a class="nav-link" [routerLink]="['/admin/dashboard']">Admin</a>
						    </li>
						    <li>
							    <div class="dropdown default-dropdown" dropdown>
								    <a class="dropdown-toggle" dropdownToggle data-toggle="dropdown" aria-expanded="true">NL </a>
								    <ul class="custom-menu" *dropdownMenu>
									    <li><a href="#">English (ENG)</a></li>
									    <li><a href="#">Netherlands (NL)</a></li>
								    </ul>
							    </div>
						    </li>
						    <li>
							    <div class="dropdown default-dropdown" dropdown>
								    <a class="dropdown-toggle" dropdownToggle data-toggle="dropdown" aria-expanded="true">EUR </a>
								    <ul class="custom-menu" *dropdownMenu>
									    <li><a href="#">Points</a></li>
									    <li><a href="#">EUR (€)</a></li>
								    </ul>
							    </div>
						    </li>
					    </ul>
				    </div>
			    </div>
		    </div>
	    </div>
	</div>
	<!--end of top header-->
	<div id="header">
		<div class="container">
			<div class="row">
				<!-- Logo -->
				<div class="col-sm-3">
					<div class="header-logo">
						<a class="logo" href="#">
							<img src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="">
						</a>
					</div>
				</div>
				<!-- /Logo -->
				<div class="col-sm-5">
					<!-- Search -->
					<div class="header-search">
						<form>
							<input class="input search-input" type="text" placeholder="Enter your keyword">
							<select class="input search-categories">
								<option value="0">All Categories</option>
								<option value="1">Category 01</option>
								<option value="1">Category 02</option>
							</select>
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="col-sm-4 d-flex justify-content-end">
					<ul class="header-btns">
						<li class="header-account dropdown default-dropdown" dropdown>
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true" dropdownToggle>
								<div class="header-btns-icon">
									<img class="rounded" src="{{ photoUrl || '../../assets/user.png' }}" alt="">
								</div>
								<a class="text-uppercase">My Account</a>
								<ul class="custom-menu" *dropdownMenu>
									<li class="custom-menu-item"><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
									<li class="custom-menu-item"><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
									<li class="custom-menu-item"><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
									<li class="custom-menu-item"><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
									<li class="custom-menu-item"><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>
									<li class="custom-menu-item"><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>
								</ul>
							</div>
							<a href="#" class="text-uppercase">Hi {{ authService.decodedToken?.unique_name | titlecase }}</a>
						</li>


						<li class="header-cart dropdown default-dropdown" dropdown>
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>
								<div class="header-btns-icon">
									<img class="rounded" src="http://www.pngmart.com/files/7/Cart-PNG-Clipart.png" alt="">
									<span class="qty">2</span>
								</div>
								<strong class="text-uppercase">My Cart:</strong>
								<br>
								<span>€ 25,20</span>
								<div class="custom-menu" *dropdownMenu>
									<div id="shopping-cart">
										<div class="shopping-cart-list">
											<div class="product product-widget">
												<div class="product-thumb">
													<img src="{{ photoUrl || '../../assets/user.png' }}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-price">
														€ 15.50 <span class="qty">x3</span>
													</h3>
													<h2 class="product-name">
														<a href="#">Product Name Goes Here</a>
													</h2>
												</div>
												<button class="cancel-btn"><i class="fa fa-trash"></i></button>
											</div>
											<div class="product product-widget">
												<div class="product-thumb">
													<img src="{{ photoUrl || '../../assets/user.png' }}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-price">
														€ 10.70 <span class="qty">x3</span>
													</h3>
													<h2 class="product-name">
														<a href="#">Product Name Goes Here</a>
													</h2>
												</div>
												<button class="cancel-btn"><i class="fa fa-trash"></i></button>
											</div>
										</div>
										<div class="shopping-cart-btns">
											<button class="main-btn">View Cart</button>
											<button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
										</div>
									</div>
								</div>
							</a>
						</li>


						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- NAVIGATION -->
<div id="navigation">
	<!-- container -->
	<div class="container">
		<div id="responsive-nav">
			<!-- category nav -->
			<div class="category-nav">
				<span class="category-header">Categories <i class="fa fa-list"></i></span>
				<ul class="category-list">
					<li class="dropdown side-dropdown" dropdown>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>Women’s Clothing</a>
						<div class="custom-menu" *dropdownMenu>
							<div class="row">
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3>
										</li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
							</div>
							<div class="row hidden-sm hidden-xs">
								<div class="col-md-12">
									<hr>
									<a class="banner banner-1" href="#">
										<img src="../../../../assets/images/example_product.png" alt="">
										<div class="banner-caption text-center">
											<h2 class="white-color">NEW COLLECTION</h2>
											<h3 class="white-color font-weak">HOT DEAL</h3>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Men’s Clothing</a></li>
					<li class="dropdown side-dropdown" dropdown>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>Phones & Accessories</a>
						<div class="custom-menu" *dropdownMenu>
							<div class="row">
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
								<div class="col-md-4 hidden-sm hidden-xs">
									<a class="banner banner-2" href="#">
										<img src="../../../../assets/images/example_product.png" alt="">
										<div class="banner-caption">
											<h3 class="white-color">NEW<br>COLLECTION</h3>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Computer & Office</a></li>
					<li><a href="#">Consumer Electronics</a></li>
					<li class="dropdown side-dropdown" dropdown>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>Jewelry & Watches</a>
						<div class="custom-menu" *dropdownMenu>
							<div class="row">
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Bags & Shoes</a></li>
					<li><a href="#">View All</a></li>
				</ul>
			</div>
			<!-- /category nav -->

			<!-- menu nav -->
			<div class="menu-nav">
				<span class="menu-header">Menu <i class="fa fa-bars"></i></span>

				<ul class="menu-list">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shop</a></li>
					<li class="dropdown mega-dropdown" dropdown>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>Women</a>
						<div class="custom-menu" *dropdownMenu>
							<div class="row">
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
									<hr class="hidden-md hidden-lg">
								</div>
								<div class="col-md-4">
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
							</div>
							<div class="row hidden-sm hidden-xs">
								<div class="col-md-12">
									<hr>
									<a class="banner banner-1" href="#">
										<img src="../../../../assets/images/example_product.png" alt="">
										<div class="banner-caption text-center">
											<h2 class="white-color">NEW COLLECTION</h2>
											<h3 class="white-color font-weak">HOT DEAL</h3>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>

					<li class="dropdown mega-dropdown full-width" dropdown>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>Men</a>
						<div class="custom-menu" *dropdownMenu>
							<div class="row">
								<div class="col-md-3">
									<div class="hidden-sm hidden-xs">
										<a class="banner banner-1" href="#">
											<img src="../../../../assets/images/example_product.png" alt="">
											<div class="banner-caption text-center">
												<h3 class="white-color text-uppercase">Women’s</h3>
											</div>
										</a>
										<hr>
									</div>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<div class="hidden-sm hidden-xs">
										<a class="banner banner-1" href="#">
											<img src="../../../../assets/images/example_product.png" alt="">
											<div class="banner-caption text-center">
												<h3 class="white-color text-uppercase">Men’s</h3>
											</div>
										</a>
									</div>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<div class="hidden-sm hidden-xs">
										<a class="banner banner-1" href="#">
											<img src="../../../../assets/images/example_product.png" alt="">
											<div class="banner-caption text-center">
												<h3 class="white-color text-uppercase">Accessories</h3>
											</div>
										</a>
									</div>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<div class="hidden-sm hidden-xs">
										<a class="banner banner-1" href="#">
											<img src="../../../../assets/images/example_product.png" alt="">
											<div class="banner-caption text-center">
												<h3 class="white-color text-uppercase">Bags</h3>
											</div>
										</a>
									</div>
									<hr>
									<ul class="list-links">
										<li>
											<h3 class="list-links-title">Categories</h3></li>
										<li><a href="#">Women’s Clothing</a></li>
										<li><a href="#">Men’s Clothing</a></li>
										<li><a href="#">Phones & Accessories</a></li>
										<li><a href="#">Jewelry & Watches</a></li>
										<li><a href="#">Bags & Shoes</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li><a href="#">Sales</a></li>
					<li class="dropdown default-dropdown" dropdown>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>Pages</a>
						<ul class="custom-menu" *dropdownMenu>
							<li><a href="index.html">Home</a></li>
							<li><a href="products.html">Products</a></li>
							<li><a href="product-page.html">Product Details</a></li>
							<li><a href="checkout.html">Checkout</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- menu nav -->
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /NAVIGATION -->

<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
					<ng-template carouselSlide><img src="../../../../assets/images/example_product.png" alt=""></ng-template>
				</owl-carousel-o>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->
